<div class="list_profile listing_capsule w_outline_grey750">
  <ion-list>
    <ion-item>
      <ion-avatar>
        <img src="../../../assets/dummy/profile_pic_coach/Coach1.png" />
      </ion-avatar>
      <ion-label>
        Adam Rivera
      </ion-label>
      <div class="btn_icon bg_white btn_favorite favorited"></div>
    </ion-item>

    <ion-item>
      <ion-avatar>
        <img src="../../../assets/dummy/profile_pic_coach/Coach1.png" />
      </ion-avatar>
      <ion-label>
        Adam Rivera
      </ion-label>
      <div class="btn_icon bg_white btn_favorite"></div>
    </ion-item>
  </ion-list>
</div>