<ion-content class="AcademyLocationSelect">
  <div class="modal_cnt">
    <div class="header_modal">
      <div class="title">Locations</div>
      <ion-button class="round_btn bg_white">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </div>
  </div>

  <div class="list_locations listing_data w_outline bg_white pad_side_20 pad_top_20 w_favorite">
    <ion-list class="gap5px">
      <ion-item class="selected">
        <div class="checkboxdiv">
          <ion-icon name="radio-button-off-outline" class="beforeSelect"></ion-icon>
          <ion-icon name="checkmark-circle-outline" class="afterSelect"></ion-icon>
        </div>
        <ion-label>
          Ryan Garland
        </ion-label>
        <div class="icon_favorite"></div>
      </ion-item>

      <ion-item>
        <div class="checkboxdiv">
          <ion-icon name="radio-button-off-outline" class="beforeSelect"></ion-icon>
          <ion-icon name="checkmark-circle-outline" class="afterSelect"></ion-icon>
        </div>
        <ion-label>
          Ryan Garland
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>