<div class="CoachLocation">
  <div class="section_header hdr_section">Available at</div>

  <div class="list_location">
    <div class="item_list">
      <div class="academy">
        <div class="logo"><img src="../../../assets/dummy/profile_pic_academy/Tompkins.png" /></div>
        <div class="name">Tompkins Tennis</div>
      </div>
      <div class="location">
        <div class="item_location">Bay-O-Vista</div>
        <div class="item_location">Lafayette</div>
        <div class="item_location">Ohlone</div>
        <div class="item_location">San DIego</div>
        <div class="item_location">San Ramon</div>
      </div>
    </div>

    <div class="item_list">
      <div class="academy">
        <div class="logo"><img src="../../../assets/dummy/profile_pic_academy/TopTennis.png" /></div>
        <div class="name">St Chad Tennis Club (Top Tennis Coaching)</div>
      </div>
      <div class="location">
        <div class="item_location">Leeds</div>
      </div>
    </div>
  </div>
</div>