<ion-content class="badgeDetails dark_page">
  <div class="modal_cnt">
    <div class="header_modal">
      <ion-button class="round_btn bg_none">
        <ion-icon name="share-social-outline"></ion-icon>
      </ion-button>
      <ion-button class="round_btn bg_none">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </div>

    <div class="badge_info">
      <div class="badge_img">
        <img src="../../../assets/badge/badge_Star_of_the_Session.svg" />
      </div>
      <div class="badge_count">3</div>
      <div class="badge_xp">[+200XP]</div>
      <div class="badge_name">
        <h2>Star of the Session</h2>
      </div>
      <div class="badge_desc">
        <p>
          Player has displayed an outstanding performance.
        </p>
      </div>
    </div>

    <div class="badge_earn_info">
      <p class="p2 introtext">Earned this badge through:</p>
      <div class="list_activity">
        <div class="activity_item">
          <div class="coach">
            <div class="coach_name">Richard Tompkins</div>
            <div class="academy_profile">
              <img src="../../../assets/dummy/profile_pic_academy/Tompkins.png" />
            </div>
          </div>
          <div class="classname">Ranked Juniors Winter 2</div>
          <div class="sessiontime">
            <div class="date item">Feb 18, 2025</div>
            <div class="day item">Tue</div>
            <div class="time item">4:00pm - 6:00pm</div>
          </div>
        </div>
        <div class="activity_item">
          <div class="coach">
            <div class="coach_name">Richard Tompkins</div>
            <div class="academy_profile">
              <img src="../../../assets/dummy/profile_pic_academy/Tompkins.png" />
            </div>
          </div>
          <div class="classname">Ranked Juniors Winter 2</div>
          <div class="sessiontime">
            <div class="date item">Feb 18, 2025</div>
            <div class="day item">Tue</div>
            <div class="time item">4:00pm - 6:00pm</div>
          </div>
        </div>

        <p class="p3 footnote">Only displaying data from 6 months ago.</p>
      </div>
    </div>
  </div>
</ion-content>