<div class="card_booking">

  <!-- NOTE: change css class between "class", "event" and "invoice" -->
  <div class="card_top_bar class">
    <div class="booking_type"></div>
    <div class="booking_tag">
      <div class="tag_item tag_private">1-on-1</div>
      <!-- <div class="tag_item tag_memberonly">Member Only</div> -->
      <div class="tag_item tag_inviteonly">Invite Only</div>
      <div class="tag_item tag_foryou">For You</div>
    </div>
  </div>

  <!-- <div class="cancel_bar">Booking Canceled</div> -->
  
  <div class="card_cnt">

    <div class="booking_detes">
      <div class="tag_activitytype">
        <img src="../../../assets/icon/activities/icon_tennis.svg" />Tennis
      </div>
      <div class="booking_title">
        <h5><strong>Junior Tennis Class</strong></h5>
      </div>
      <div class="booking_daterange">
        <p><strong>Feb 3 - Mar 2</strong></p>
      </div>
      <div class="booking_academy">
        <div class="academy_pic">
          <img src="../../../assets/dummy/profile_pic_academy/Tompkins.png" />
        </div>
        <div class="academy_name">
          <p class="p3"><strong>Tompkins Sports</strong> (San Ramon)</p>
        </div>
      </div>
    </div>
    
    <ion-button class="bg_none btn_arrow">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-button>
  
  </div>
</div>

<!-- NOTE: change between css class "available_for" & "booked_for" -->
<div class="for_who available_for">
  <div class="label"></div>
  <div class="profile_pics_cnt">
    <div class="profile_item">
      <img src="../../../assets/dummy/profile_pic_user/Mikhail.png" />
    </div>
    <div class="profile_item">
      <img src="../../../assets/dummy/profile_pic_user/Mikhail.png" />
    </div>
    <div class="profile_item more_profiles">+3</div>
  </div>
</div>