<div class="header">
  <div class="topbar"><ion-icon name="close-outline" class="btn_close byitself"></ion-icon></div>
  <div class="subhdr_page">CREATE NEW PROFILE</div>
  <div class="title_page"><span class="fw_regular">Step 4:</span> Payment Method</div>
  <app-step-progress></app-step-progress>
</div>

<app-onboarding-list-payment></app-onboarding-list-payment>

<div class="form">
  <div class="form_cnt">
    <div class="form_item">
      <ion-input label="Card Number *" labelPlacement="stacked" [clearInput]="true" placeholder="- - - - &nbsp; - - - - &nbsp; - - - - &nbsp; - - - -"></ion-input>
    </div>
    <div class="form_item">
      <ion-input label="Name on Card *" labelPlacement="stacked" [clearInput]="true"></ion-input>
    </div>
    <div class="form_item">
      <ion-input label="Expiry Date *" labelPlacement="stacked" [clearInput]="true" placeholder="MM / YYYY"></ion-input>
    </div>
    <div class="form_item">
      <ion-input label="CVV / CVC *" labelPlacement="stacked" [clearInput]="true" placeholder="***"></ion-input>
    </div>
    <div class="btn_hld pad_bottom_40">
      <ion-button class="main_cta">Save</ion-button>
      <ion-button class="small_btn bg_white">Skip For Now</ion-button>
    </div>
  </div>
</div>