<div class="header">
  <div class="topbar">
    <div class="btn_icon btn_back">
      <ion-icon name="arrow-back-outline" (click)="backToPrevious()"></ion-icon>
    </div>
    <ion-icon name="close-outline" class="btn_close byitself" (click)="dismiss()"></ion-icon>
  </div>
  <div class="subhdr_page">CREATE NEW PROFILE</div>
  <div class="title_page"><span class="fw_regular">Step 4:</span> Payment Method</div>
  <app-step-progress [step]="4"></app-step-progress>
</div>
<app-onboarding-list-payment></app-onboarding-list-payment>
<div>
  <!--   <form class="form" [formGroup]="paymentInfoGroup">
  <div class="form_cnt">
    <div class="form_item">
      <ion-input label="Card Number *" type="number" labelPlacement="stacked" formControlName="cardNumber" [clearInput]="true" placeholder="- - - - &nbsp; - - - - &nbsp; - - - - &nbsp; - - - -"></ion-input>
    </div>
    <div class="form_item">
      <ion-input label="Name on Card *" type="text" labelPlacement="stacked" formControlName="name"  [clearInput]="true"></ion-input>
    </div>
    <div class="form_item">
      <ion-input label="Expiry Date *" type="text" labelPlacement="stacked" formControlName="expiryDate" [clearInput]="true" placeholder="MM / YYYY"></ion-input>
    </div>
    <div class="form_item">
      <ion-input label="CVV / CVC *" type="number" labelPlacement="stacked" formControlName="cvv" [clearInput]="true" placeholder="***"></ion-input>
    </div>
    <div class="btn_hld pad_bottom_40">
      <ion-button class="main_cta" (click)="paymentSubmision()" [disabled]="paymentInfoGroup.invalid">Save</ion-button>
      <ion-button class="small_btn bg_white" (click)="navigateToCompletion()">Skip For Now</ion-button>
    </div>
  </div>
</form> -->


</div>