<ion-content [fullscreen]="true" class="SignUp dark_page centerise_page">
<div class="header">
  <app-bounx-logo-icon></app-bounx-logo-icon>
  <div class="hdr_big_color text_gradient">ACCOUNT CREATED!</div>
  <p>
    You'll need to create Profile(s) for you or your family members and add payment method to start joining exciting bookings.
    <br/><br/>
    NOTE: Every account can create more than one profile.
  </p>
  <p class="p2">
    <br/>
    Redirecting to Dasboard in &nbsp;&nbsp;&bull;&nbsp; {{retryTimer}}s
    <br/><br/><br/>
  </p>
  <ion-button class="main_cta">Let's Get Started</ion-button>
</div>
<app-sign-up-success-footer> </app-sign-up-success-footer>
</ion-content>

