<div class="profileStats">

  <div class="section_header">
    <div class="hdr_section">Your Stats</div>
    <ion-icon name="information-circle-outline"></ion-icon>
  </div>

  <div class="stats_cnt">
    <div class="stats_item">
      <div class="label">Sessions Attended</div>
      <div class="number">264</div>
    </div>
    <div class="stats_item">
      <div class="label">Events Joined</div>
      <div class="number">14</div>
    </div>
    <div class="stats_item">
      <div class="label">Total Badges Earned</div>
      <div class="number">39</div>
    </div>
  </div>
</div>