<div class="badgeLatest">
  <div class="badgeLatest_cnt">
    @for (badge of badges; track badge.i;){
    <div class="badge_item">
      <img src="{{badge.badgeImage}}" />
    </div>
  }
    <div class="badge_item">
      <img src="../../../assets/badge/empty_white.svg" />
    </div>
    <div class="badge_item">
      <img src="../../../assets/badge/empty_white.svg" />
    </div>
    <div class="badge_item">
      <img src="../../../assets/badge/empty_white.svg" />
    </div>
    <div class="badge_item btn_arrow">
      <img src="../../../assets/badge/badge_btn_arrow.svg" />
    </div>
  </div>
</div>