<div class="badgeLatest">
  <div class="badgeLatest_cnt">
    <div class="badge_item">
      <img src="../../../assets/badge/badge_Getting_it_Done.svg" />
    </div>
    <div class="badge_item">
      <img src="../../../assets/badge/empty_white.svg" />
    </div>
    <div class="badge_item">
      <img src="../../../assets/badge/empty_white.svg" />
    </div>
    <div class="badge_item">
      <img src="../../../assets/badge/empty_white.svg" />
    </div>
    <div class="badge_item btn_arrow">
      <img src="../../../assets/badge/badge_btn_arrow.svg" />
    </div>
  </div>
</div>