<ion-content [fullscreen]="true" class="LogIn dark_page centerise_page">
<div class="header">
  <div class="hdr_big_color">WELCOME BACK!</div>
</div>
<form [formGroup]="loginForm">
<div class="form">
  <div class="form_cnt">
    <div class="form_item">
      <ion-label>Phone Number *</ion-label>
      <ion-select label-placement="stacked" placeholder="Code" toggleIcon="" class="hidelabel">
        <ion-select-option value="apple"></ion-select-option>
      </ion-select>
      <ion-input [clearInput]="true" placeholder="Phone Number" type="tel" formControlName="phone" autocomplete="tel"></ion-input>
    </div>
    <div class="form_item">
      <ion-input label="Password *" labelPlacement="stacked" type="text" formControlName="password" [clearInput]="true" autocomplete="password">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </div> 
  </div>
  <ion-button class="main_cta" (click)="userLogin()" [disabled]="loginForm.valid">Log In</ion-button>
  <div class="link_byitself"><p class="p2"><a href="">Reset Password</a></p></div>
</div>
</form>
<app-log-in-footer></app-log-in-footer>
</ion-content>