<div class="profileCover">

  <div class="profilePic">
    <img src="{{imageUrl}}{{profile.profilePicture}}" />
  </div>

  <div class="avgEnergy">
    2.67
  </div>

  <div class="studentName">
    {{profile.firstName}} {{profile.lastName}}
  </div>

  <div class="profileXP">
    <div class="seasionXP">
      <div class="value">45,300</div>
      <div class="label">Session XP</div>
    </div>
    <div class="divider"></div>
    <div class="lifetimeXP">
      <div class="value">236,400</div>
      <div class="label">Lifetime XP</div>
    </div>
  </div>

</div>