<ion-content [fullscreen]="true" class="SignUp dark_page centerise_page">
  <div class="header">
    <div class="hdr_page">
      Create your <span class="em">Primary Bounx Account</span>
    </div>
    <p>
      Primary Bounx Accounts are typically for Parents or Students above 15
      years of age.
    </p>
  </div>
  <form [formGroup]="signUpFormGroup">
    <div class="form">
      <div class="form_cnt">
        <div class="form_item">
          <ion-input
            label="First Name *"
            type="text"
            labelPlacement="stacked"
            formControlName="firstName"
            [clearInput]="true"
            autocomplete="given-name"
            [maskito]="nameMaskOptions"
            [maskitoElement]="maskPredicate"
          ></ion-input>
        </div>
        <div *ngIf="signUpFormGroup.get('firstName')?.errors?.['required'] && signUpFormGroup.get('firstName')?.touched">
          <ion-text color="danger">FirstName is required</ion-text></div>
        <div *ngIf="signUpFormGroup.get('firstName')?.errors?.['pattern']"><ion-text color="danger"> FirstName should be of min 2 characters </ion-text> </div>


       
        <div class="form_item">
          <ion-input
            label="Last Name *"
            type="text"
            labelPlacement="stacked"
            formControlName="lastName"
            [clearInput]="true"
            autocomplete="family-name"
            [maskito]="nameMaskOptions"
            [maskitoElement]="maskPredicate"
          ></ion-input>
        </div>
        <div *ngIf="signUpFormGroup.get('lastName')?.errors?.['required'] && signUpFormGroup.get('lastName')?.touched"><ion-text color="danger">LastName is required</ion-text></div>
        <div *ngIf="signUpFormGroup.get('lastName')?.errors?.['pattern']"><ion-text color="danger">LastName should be of min 2 characters</ion-text></div>
        <div class="form_item">
          <ion-input
            label="Email *"
            type="email"
            labelPlacement="stacked"
            formControlName="email"
            [clearInput]="true"
            autocomplete="email"
          ></ion-input>
        </div>
        <div *ngIf="signUpFormGroup.get('email')?.errors?.['required'] &&signUpFormGroup.get('email')?.touched "><ion-text color="danger">email is required</ion-text></div>
        <div *ngIf="signUpFormGroup.get('email')?.errors?.['email'] "><ion-text color="danger">email is not in proper format</ion-text></div>
        
        <div class="form_item">
          <ion-input
            label="Password *"
            type="password"
            labelPlacement="stacked"
            formControlName="password"
            [clearInput]="true"
            autocomplete="new-password"
          >
            <ion-input-password-toggle
              color="#000000"
              slot="end"
            ></ion-input-password-toggle>
          </ion-input>
          @if (signUpFormGroup.get('password')?.dirty) {
          <div class="password_guide">
            <div class="item">
              <ion-icon
                [ngClass]="
                  signUpFormGroup.get('password')?.getError('hasAlphabet')
                    ? ''
                    : 'green'
                "
                name="checkmark-circle-outline"
              ></ion-icon>
              contains at least ONE (1) alphabet
            </div>
            <div class="item">
              <ion-icon
                [ngClass]="
                  signUpFormGroup.get('password')?.getError('hasNumeric')
                    ? ''
                    : 'green'
                "
                name="checkmark-circle-outline"
              ></ion-icon>
              contains at least ONE (1) number
            </div>
            <div class="item">
              <ion-icon
                [ngClass]="
                  signUpFormGroup.get('password')?.getError('minLength')
                    ? ''
                    : 'green'
                "
                name="checkmark-circle-outline"
              ></ion-icon>
              contains at least EIGHT(8) characters
            </div>
          </div>
          }
        </div>
        <div class="form_item">
          <ion-label>Phone Number *</ion-label>
          <app-dropdown-button
            (click)="openModal($event)"
            [label]="signUpFormGroup.get('phoneCode')?.value"
            placeholder="Code"
          ></app-dropdown-button>
          <ion-input
            [clearInput]="true"
            formControlName="phone"
            placeholder="Phone Number"
            type="tel"
            autocomplete="tel"
            [maskito]="phoneNumberMaskOptions"
            [maskitoElement]="maskPredicate"
          ></ion-input>
        </div>
        @if(signUpFormGroup.get('phone')?.touched && (signUpFormGroup.get('phone')?.errors?.['required'] || signUpFormGroup.get('phone')?.errors?.['minLength'] )){
          <ion-text color="danger"> Phone Number is required</ion-text>
        }

        <!-- <div *ngIf="signUpFormGroup.get('phone')?.errors?.minLength">Phone Number should be of min 5 digits</div>
        <div *ngIf="signUpFormGroup.get('phone')?.errors?.maxLength">Phone Number should be of max 15 digits</div> -->
        @if (authenticationError && authenticationError.message){
        <ion-text color="danger">{{ authenticationError.message }}</ion-text>
        }
      </div>

      <div class="form_cnt">
        <div class="form_item">
          <ion-checkbox labelPlacement="end" formControlName="isTermsAgreed">
            <div class="ion-text-wrap">
              I have read and accept the Privacy Policy and Terms of Use.
            </div>
          </ion-checkbox>
        </div>
      </div>
      <ion-button
        class="main_cta"
        (click)="verify()"
        [disabled]="signUpFormGroup.invalid"
        >Next: Verify Phone Number</ion-button
      >
    </div>
  </form>
</ion-content>
