<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="dark_page">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content> -->




<!-- •••••• INTRO PAGE •••••• -->
<!-- <ion-content [fullscreen]="true" class="Intro dark_page">
  <app-intro-content></app-intro-content>
</ion-content> -->




<!-- •••••• SIGN UP •••••• -->
<!-- <ion-content [fullscreen]="true" class="SignUp dark_page centerise_page">
  <app-sign-up-form></app-sign-up-form>
  <app-sign-up-footer></app-sign-up-footer>
  <app-sign-up-success></app-sign-up-success>
  <app-sign-up-success-footer></app-sign-up-success-footer>
 </ion-content> -->




<!-- •••••• LOG IN •••••• -->
<!-- <ion-content [fullscreen]="true" class="LogIn dark_page centerise_page">
  <app-log-in-form></app-log-in-form>
  <app-log-in-footer></app-log-in-footer>
 </ion-content> -->




<!-- •••••• RESET PASSWORD •••••• -->
<!-- <ion-content [fullscreen]="true" class="ResetPassword dark_page centerise_page">
  <app-reset-pass-form-step1></app-reset-pass-form-step1>
  <app-reset-pass-form-step2></app-reset-pass-form-step2>
  <app-reset-pass-success></app-reset-pass-success>
  <app-reset-pass-footer></app-reset-pass-footer>  
</ion-content> -->




<!-- •••••• VERIFY CODE •••••• -->
<!-- <ion-content [fullscreen]="true" class="VerifyCode dark_page centerise_page">
  <app-verify-form></app-verify-form>
  <app-sign-up-success-footer></app-sign-up-success-footer>
</ion-content> -->




<!-- •••••• DASHBOARD •••••• -->
<!-- <ion-content [fullscreen]="true" class="Dashboard dark_page">
  <app-onboarding-start></app-onboarding-start>
  <app-onboarding-completed></app-onboarding-completed>
  <app-onboarding-list-profile></app-onboarding-list-profile>
</ion-content> -->




<!-- •••••• ONBOARDING •••••• -->
<ion-content [fullscreen]="true" class="Onboarding light_page centerise_page">
  <!-- <app-onboarding-step1></app-onboarding-step1> -->
  <!-- <app-onboarding-step2></app-onboarding-step2> -->
  <!-- <app-onboarding-step3></app-onboarding-step3> -->
  <!-- <app-onboarding-academy-result></app-onboarding-academy-result> -->
  <!-- <app-onboarding-favorite-tray></app-onboarding-favorite-tray> -->
  <app-onboarding-step4></app-onboarding-step4>
</ion-content>
