<div class="TAB_personalDetes contentTABS_body bg_white">
  <div class="profile_personalDetes">

    <div class="group_btns section">
      <ion-button class="small_btn bg_black">
        Edit Profile Details <ion-icon name="create-outline" class="ontheright"></ion-icon>
      </ion-button>
    </div>

    <div class="list_groups">

      <div class="listing_data bdr_btm list_group_item data_personalDete">
        <div class="list_group_head">
          Personal Details
        </div>
        <div class="list_info">
          <ion-icon name="information-circle-outline"></ion-icon>
          <div class="text">
            <p class="p3">
              By adding a unique email to a Profile, a Primary Bounx Account will be activated for the Profile and login
              instructions will be sent to the email.
            </p>
          </div>
        </div>
        <ion-item>
          <div class="listing_content">
            <div class="label">Date of Birth</div>
            <div class="data">Feb 29, 2011</div>
          </div>
        </ion-item>
        <ion-item>
          <div class="listing_content">
            <div class="label">Gender</div>
            <div class="data">Male</div>
          </div>
        </ion-item>
        <div class="btn_cnt">
          <ion-button class="small_btn bg_none bdr_line_grey100">
            Set Up Primary Bounx Account <ion-icon name="create-outline" class="ontheright"></ion-icon>
          </ion-button>
        </div>
      </div>
    </div>

  </div>
</div>