<div class="pAcademy_header">

  <div class="academy_pic">
    <div class="icon">
      <img src="../../../assets/icon/icon_multiple.svg" />
    </div>
    <div class="image">
      <img src="../../../assets/dummy/profile_pg_cover/profileCoverPic_academy.png" />
    </div>
  </div>

  <div class="academy_profilePic">
    <div class="profileImg">
      <img src="../../../assets/dummy/profile_pic_academy/Tompkins.png" />
    </div>
    <div class="tag_activityType tennis">
      <div class="icon_activity"></div>
      <div class="activity_text"></div>
    </div>
  </div>

  <div class="academy_name">
    <h3><strong>Tompkins Tennis</strong></h3>
  </div>

  <div class="academy_location">
    <ion-select value="apple" toggleIcon="">
      <ion-select-option value="Account Owner">Account Owner</ion-select-option>
      <ion-select-option value="apple">Apple</ion-select-option>
      <ion-select-option value="banana">Banana</ion-select-option>
      <ion-select-option value="orange">Orange</ion-select-option>
    </ion-select>
  </div>

</div>