<div class="profile_personalDetes">

  <div class="list_groups">

    <div class="listing_data bdr_btm list_group_item data_personalDete">
      <div class="list_group_head">
        About Academy
      </div>
      <ion-item>
        <div class="listing_content">
          <div class="label">About</div>
          <div class="data">
            Tompkins Tennis International runs the #1 year-round junior training program on the West Coast.
            <br/><br/>
            Located in the heart of Silicon Valley, we product more nationally ranked juniors than any other program in Northern California! Our renowned coaches, make up of former Pro Tour and Division 1 players, specialize in juniors between the ages of 6-18.
            <br/><br/>
            ClubSport San Ramon offers over 80 thousand square feet of fitness facilities, including 8 full-lit tennis courts, a year-round heated pool, indoor racquetball and squash and much more.
          </div>
        </div>
      </ion-item>
      <ion-item>
        <div class="listing_content">
          <div class="label">Email</div>
          <div class="data">hello&#64;tompkinssport.com</div>
        </div>
      </ion-item>
    </div>
  </div>

  <div class="btn_link w_arrow_right w_caret_forward_s05 standalone">Terms & Conditioins</div>

  <div class="btn_link w_arrow_right w_caret_forward_s05 standalone">Cancelation & Refund Policy</div>

</div>