<!-- NOTE: add/remove class "expanded" to toggle favorite academy tray -->
<div class="footer footer_tray stay_bottom" [ngClass]="{'expanded':expanded}">
  <div class="tray_cnt">
    <div class="tray_hdr">
      <div class="title_small">
        <p class="p3">Favorite:</p>
      </div>
      <div class="added_profile">
        @for (academy of selectedAcademyList.values(); track $index) {
        <div class="item"><img src="../../assets/dummy/profile_pic_academy/Tompkins.png" /></div>
        }

      </div>
      <div class="btn_icon" (click)="expanded=!expanded">
        @if (expanded) {}
        <ion-icon name="chevron-up-outline">

        </ion-icon>
      </div>
    </div>
    <div class="tray_body">
      <!-- <div class="list_profile listing_capsule">
        <ion-list>
          @for (academy of selectedAcademyList | keyvalue; track $index) {
          <ion-item>
            <ion-avatar>
              <img src="../../assets/dummy/profile_pic_academy/Tompkins.png">
            </ion-avatar>
            <ion-label>
              {{academy.value.name}}
            </ion-label>
            <ion-button fill="clear" slot="end">
              <ion-icon name="add-outline"></ion-icon>
            </ion-button>
          </ion-item>
          }
        </ion-list>
      </div> -->
      <app-onboarding-academy-result [searchTextResults]="searchTextResults"
        (selectedAcademies)="selectedAcademiesEvent($event)"></app-onboarding-academy-result>
    </div>
    <div class="cta_cnt">
      <ion-button class="main_cta" routerLink="/onboarding-step4">Complete</ion-button>
    </div>
  </div>
</div>