<!-- NOTE: add/remove class "expanded" to toggle favorite academy tray -->
<div class="footer footer_tray stay_bottom expanded">
  <div class="tray_cnt">
    <div class="tray_hdr">
      <div class="title_small"><p class="p3">Favorite:</p></div>
      <div class="added_profile">
        <div class="item"><img src="../../assets/dummy/profile_pic_academy/Tompkins.png" /></div>
        <div class="item"><img src="../../assets/dummy/profile_pic_academy/Tompkins.png" /></div>
      </div>
      <div class="btn_icon"><ion-icon name="chevron-up-outline"></ion-icon></div>
    </div>
    <div class="tray_body">
      <div class="list_profile listing_capsule">
        <ion-list>
          <ion-item>
            <ion-avatar>
              <img src="../../assets/dummy/profile_pic_academy/Tompkins.png">
            </ion-avatar>
            <ion-label>
              Academy Name
            </ion-label>
            <ion-button fill="clear" slot="end">
              <ion-icon name="add-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
      </div>
    </div>
    <div class="cta_cnt">
      <ion-button class="main_cta">Complete</ion-button>
    </div>
  </div>
</div>