<div class="profile_branchDete">

  <div class="listing_data w_outline bg_grey900 list_group_item data_branchDete">
    <ion-item>
      <div class="listing_content">
        <div class="label">Contact</div>
        <div class="data">
          +1 (510) 573-4025
        </div>
      </div>
    </ion-item>
    <ion-item>
      <div class="listing_content">
        <div class="label">Address</div>
        <div class="data">
          350 Bollinger Canyon Ln, San Ramon, CA 94582, United States
        </div>
      </div>
    </ion-item>
  </div>

</div>