<div class="list_profile listing_capsule pad_side_20 pad_top_20">
  <p class="list_label pad_left_20">Select a payment method:</p>
  <ion-list>
    <ion-item>
      <ion-avatar>
        <img src="../../assets/dummy/profile_pic_creditcard/Mastercard.png" />
      </ion-avatar>
      <ion-avatar class="connected_user">
        <img src="../../assets/dummy/profile_pic_user/Ryan.png" />
      </ion-avatar>
      <ion-avatar class="connected_user">
        <img src="../../assets/dummy/profile_pic_user/Mikhail.png" />
      </ion-avatar>
      <ion-avatar class="connected_user extra">
        +2
      </ion-avatar>
      <ion-label>
        &bull;&bull;&bull;&bull; 8888
      </ion-label>
      <ion-button fill="clear" slot="end">
        <ion-icon name="radio-button-off-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item class="outline_ondark">
      <ion-avatar class="profilepic_empty">
        <ion-icon name="add-outline" class="lime"></ion-icon>
      </ion-avatar>
      <ion-label>
        <p>Add new payment method</p>
      </ion-label>
    </ion-item>
  </ion-list>
</div>
<div class="footer">
  <div class="footer_btn">
    <div class="btn_hld pad_bottom_40">
      <ion-button class="main_cta">Save</ion-button>
      <ion-button class="small_btn bg_white">Skip For Now</ion-button>
    </div>
  </div>
</div>