<ion-content [fullscreen]="true" class="allBadges light_page centerise_page">
  <div class="header">
    <div class="topbar">
      <ion-button class="round_btn bg_white btn_back" (click)="returnToPreviousPage()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <div class="title_page">Badges</div>
      <ion-button class="round_btn bg_none btn_back" [disabled]="true"></ion-button>
    </div>
  </div>

  <app-pg-badges-tabs></app-pg-badges-tabs>

  <div class="allBadges_cnt contentTABS_body bg_white">

    <!-- •••••• TAB - BADGES •••••• -->
    <!-- <div class="stats_cnt twocol">
      <div class="stats_item">
        <div class="label">Badges Earned</div>
        <div class="number">38</div>
      </div>
      <div class="stats_item">
        <div class="label">Unique Badges Unlocked</div>
        <div class="number">12</div>
      </div>
    </div>

    <div class="badge_listing">
      <div class="badge_groups">
        <div class="badge_group_head">
          <div class="text">Basic Badges</div>
          <ion-icon name="chevron-up-outline"></ion-icon>
        </div>
        <div class="badge_group_cnt">
          <div class="badge_item">
            <div class="badge_img">
              <img src="../../../assets/badge/badge_Getting_it_Done.svg" />
              <div class="badge_count">3</div>
            </div>
            <div class="badge_name">
              <div class="name">Getting It Done</div>
            </div>
          </div>
          <div class="badge_item">
            <div class="badge_img">
              <img src="../../../assets/badge/badge_Conqueror_of_the_Court.svg" />
              <div class="badge_count">3</div>
            </div>
            <div class="badge_name">
              <div class="name">Conqueror of the Court</div>
            </div>
          </div>
          <div class="badge_item beforeUnlock">
            <div class="badge_img">
              <img src="../../../assets/badge/empty_black.svg" />
              <div class="badge_count">3</div>
            </div>
            <div class="badge_name">
              <div class="name">Badge Name</div>
            </div>
          </div>
          <div class="badge_item beforeUnlock">
            <div class="badge_img">
              <img src="../../../assets/badge/empty_black.svg" />
              <div class="badge_count">3</div>
            </div>
            <div class="badge_name">Badge Name</div>
          </div>
          <div class="badge_item beforeUnlock">
            <div class="badge_img">
              <img src="../../../assets/badge/empty_black.svg" />
              <div class="badge_count">3</div>
            </div>
            <div class="badge_name">
              <div class="name">Badge Name</div>
            </div>
          </div>
        </div>
      </div>
    </div> -->


    <!-- •••••• TAB - BADGE OF THE TERM •••••• -->
    <div class="stats_cnt">
      <div class="stats_item">
        <div class="label">Badges of the Term Earned</div>
        <div class="number">1</div>
      </div>
    </div>

    <div class="badge_listing badge_Term">
      <div class="badge_groups">
        <div class="badge_group_cnt">
          <div class="badge_item">
            <div class="badge_img">
              <img src="../../../assets/badge/badge_The_Dragon.svg" />
              <div class="badge_count">1</div>
            </div>
            <div class="badge_name">
              <div class="name">The Dragon</div>
              <div class="date">1 Apr - 30 Jun '25</div>
            </div>
          </div>
          <div class="badge_item beforeUnlock">
            <div class="badge_img">
              <img src="../../../assets/badge/empty_black.svg" />
              <div class="badge_count">3</div>
            </div>
            <div class="badge_name">
              <div class="name">Badge Name</div>
              <div class="date">1 Apr - 30 Jun '25</div>
            </div>
          </div>
          <div class="badge_item beforeUnlock">
            <div class="badge_img">
              <img src="../../../assets/badge/empty_black.svg" />
              <div class="badge_count">3</div>
            </div>
            <div class="badge_name">
              <div class="name">Badge Name</div>
              <div class="date">1 Apr - 30 Jun '25</div>
            </div>
          </div>
          <div class="badge_item beforeUnlock">
            <div class="badge_img">
              <img src="../../../assets/badge/empty_black.svg" />
              <div class="badge_count">3</div>
            </div>
            <div class="badge_name">
              <div class="name">Badge Name</div>
              <div class="date">1 Apr - 30 Jun '25</div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</ion-content>