<!-- NOTE: change class "beforeUnlock" to "afterUnlock" -->
<div class="badgeTerm beforeUnlock">

  <div class="contentTxt">
    <!-- NOTE: show "tag_unlocked" after badge is unlocked -->
    <div class="tag_unlocked"></div>
    <div class="title">Badge of the Term</div>
    <div class="desc">
      Get this badge to unlock cool Merc!
    </div>
    <div class="date">
      1 Apr - 30 Jun '25
    </div>
  </div>

  <div class="badgeDete">
    <div class="thebadge"><img src="../../../assets/badge/empty_black.svg" /></div>
    <div class="badge_title">
      The Dragon
    </div>
    <div class="badge_desc">
      Breathing fire after a workout.
    </div>
    <div class="badge_xp">
      [+1000XP]
    </div>
    <ion-button class="round_btn bg_black">
      <ion-icon name="arrow-forward-outline" class="ontheright"></ion-icon>
    </ion-button>
  </div>

</div>