<div class="TAB_feedback contentTABS_body bg_white">
  <div class="coachFBcard">

    <div class="coachFBcard_item">
      <div class="class_dete">
        <!--
        NOTE:
        change the number in class "level_n" to see energy icon light up
      -->
        <!--
        "level_0", "level_1", "level_2", "level_3"
      -->
        <div class="energy_level level_2">
          <div class="energy_item energy3"></div>
          <div class="energy_item energy2"></div>
          <div class="energy_item energy1"></div>
        </div>
        <div class="class_title">
          Ranked Junior Winter 2
        </div>
        <div class="session_datetime">
          <div class="item date">Feb 13, 2025</div>
          <div class="item day">Thu</div>
          <div class="item time">4:00pm - 6:00pm</div>
        </div>
        <div class="session_coach">
          <div class="profilepic_coach">
            <img src="../../../assets/dummy/profile_pic_coach/Coach1.png" />
          </div>
          <div class="coach_name">Richard Tompkins</div>
        </div>
      </div>
      <div class="listing_data bdr_btm">
        <ion-item>
          <div class="listing_content">
            <div class="label">Comment</div>
            <div class="data">Good job! Keep it up!</div>
          </div>
        </ion-item>
        <ion-item>
          <div class="listing_content w_video">
            <div class="label">Ref Video</div>
            <div class="data">https://youtu.be/SlGKXkvPIKY?si=XzxSlJdbhsqhglkT</div>
          </div>
        </ion-item>
        <ion-item>
          <div class="listing_content w_badge">
            <div class="label">Badges Earned</div>
            <div class="data">
              <div class="badge_item">
                <img src="../../../assets/badge/badge_Getting_it_Done.svg" />
              </div>
              <div class="badge_item">
                <img src="../../../assets/badge/badge_Getting_it_Done.svg" />
              </div>
            </div>
          </div>
        </ion-item>
      </div>
      <div class="xp_earned">+800XP</div>
    </div>

  </div>
</div>