<ion-content class="OtherProfiles">
  <div class="modal_cnt">
    <div class="header_modal">
      <div class="title">Other Profiles</div>
      <ion-button class="round_btn bg_white" (click)="dismiss()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </div>
  </div>

  <div class="list_profile listing_capsule pad_side_20 pad_top_20">
    <ion-list>
      @for (profile of playerProfiles; track profile.id; let i = $index;){
      <ion-item  [ngClass]="{'selected':profileId==profile.id}">
        <ion-avatar>
          <img src="{{imageUrl}}{{profile.profilePicture}}">
        </ion-avatar>
        <ion-label>
          {{profile.firstName | titlecase}} {{profile.lastName | titlecase}}
       
        </ion-label>
        <ion-button class="round_btn bg_none" (click)="getPlayerProfile(profile.id)">
          @if(profileId==profile.id){
         
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          }
          @else{

            <ion-icon name="radio-button-off-outline"></ion-icon>
          }
        </ion-button>
      </ion-item>

     
    }
    </ion-list>
  </div>
</ion-content>